:root {
    --white: #def9ff;
    --lightest: #00C1E8;
    --mid: #00A1C2;
    --darkest: #004451;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


/* font-family: 'Concert One', sans-serif; */

/* Add more styles as needed */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root {
    color: var(--darkest);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.main-container {
    font-family: "Noto Sans", sans-serif;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.main-container h1 {
    font-family: 'Concert One', sans-serif;
    letter-spacing: 2px;
    width: 75%;
    max-width: 550px;
    color: var(--darkest);
}

/* Form area */

form {
    width: 75%;
    max-width: 550px;
    margin-bottom: 1rem;
}

.input-fields-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.input-container {
    display: flex;
    padding: 0.5rem 0;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.input-container label,
.input-container p {
    width: 25%;
}

.input-container input {
    width: 40%;
    border: var(--mid) 1px solid;
    border-radius: 3px;
}

.value-type {
    display: inline;
}

.input-fields-container button {
    width: 40%;
    margin: auto;
    background-color: var(--darkest);
    color: var(--white);
    border: var(--lightest) solid 1px;
    border-radius: 3px;
    padding: 0.5rem 0;
    transition: 125ms all;
    margin-top: 0.25rem;
}

.input-fields-container button:hover {
    filter: drop-shadow(0 0 3px var(--mid));
}

.input-fields-container button:active {
    background-color: var(--lightest);
    border: var(--darkest) solid 1px;
}

input {
    color: inherit;
    padding-left: 0.25rem;
}

/* Summary display area */

.summary-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 0.5rem;
    max-width: 550px;
    justify-content: space-around;
    border: var(--mid) 1px dashed;
}

.total-amount {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.summary-container h2 {
    font-family: "concert one", sans-serif;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.summary-container ul {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.summary-container ul li {
    list-style-type: none;
}

.summary-container ul li::before {
    content: "-";
}

.summary-container .total {
    font-weight: bold;
    border-top: dashed 1px var(--darkest);
}

.summary-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}